nav > ul{
    display: flex;
}
nav > ul > li {
    display: inline;
    margin-right: 15px;
    padding: 5px;
}
nav > ul > li > a{
    text-decoration: none;
}
nav li:hover{
    background-color: lightgray;
}
footer{
    text-align: center;
    margin-top: 30px;
}
label{
    display: block;
    margin-bottom: 10px;
}
header{
    text-align: center;
    /* font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    color: aqua; */
}
td, th{
    border: 1px solid black;
    padding: 5px 10px;
}
table{
    border-collapse: collapse;
}
.panda{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    margin: 30px;
    padding: 20px;
}
.first{
    border: 2px solid;
    /* border-width: 404px; */
}